.skill-block {
  font-size: 14px;
}

.skill-block .row {
  flex: 1;
}

.skill-block .row .col:not(:last-child) {
  margin-right: 60px;
}

.skill-item {
  display: flex;
  justify-content: space-between;

  font-size: medium;
}

.skill-item .score {
  display: flex;
  align-items: center;
}
